RewriteEngine On
RewriteRule ^article/([a-zA-Z0-9-/]+)$ article.php?url=$1
RewriteRule ^article/([a-zA-Z0-9-/]+)/$ article.php?url=$1
ErrorDocument 400 /error400.php
ErrorDocument 401 /error401.php
ErrorDocument 403 /error403.php
ErrorDocument 404 /error404.php
ErrorDocument 500 /error500.php